<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BargainFinderMaxBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BargainFinderMaxBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sabre.com/websvc" binding="basicHttpBinding"
                bindingConfiguration="BargainFinderMaxBinding" contract="SWS_BargainFinderMaxRQ.BargainFinderMaxPortType"
                name="BargainFinderMaxPortType" />
        </client>
    </system.serviceModel>
</configuration>